<div class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <br>
    <mat-divider></mat-divider>
    <br>
    <a href=""><img src="assets/images/icons/fb.svg"></a>
    <a href=""><img src="assets/images/icons/insta.svg"></a>
    <a href=""><img src="assets/images/icons/telegram.svg"></a>
    <a href="mailto:info@over4fun.com"><img src="assets/images/icons/mail.svg"></a>
    <br>
    <br>
    © 2024 by Claudio M.- Over4Fun
  </div>
</div>
